html {
    scroll-behavior: smooth;
  }
  
body{
	height:100%;
}

#headerLogo {
	height: 57px;
	width: 79px;
}

#underline {
	border: 2px solid #DCB405; /*yellow/gold, previously #C2AC59*/
	padding: 0 0 0 0px;
	margin: 0 30% 5% 30%;
}

.navbar {
     text-align: center;
}

.helper-span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#cover {
	background: #222 url('../assets/VancouverAerialVariation.jpg') no-repeat fixed;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
    overflow: hidden;
}

#cover-icon {
	margin-top: 15%;
	width: 100%;
}

#cover-caption{
	width: 100%;
}

.cover-container {
	padding: 0 5%;
}

.about-caption {
	padding: 0 5%;
	color: #0C2345; /*navy, previously #11284b */
	width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
	text-align: center;
}

.sponsor-caption {
	padding: 0 5%;
	color: #0C2345; /*navy, previously #11284b */
	width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
	text-align: center;
}

.sponsor-txt {
    max-width: 60px;
	text-align: center;
	align-items: center;
	display: inline-block;
	color: #0C2345 !important; /*navy previously #11284b */
    margin-top: 45px;
}

#about {
	background: #91ADCD no-repeat fixed; /*blue 50%, previously 8491A4*/
	background-size: cover;
	color: black;
	text-align: center;
	display: block;
	align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

#about-paragraph {
    max-width: 500px;
    display: inline-block;
}

#year, #beacon {
    background: #EFEFEF no-repeat fixed; /*grey, previously #e6e6ff*/
    background-size: cover;
    color: black;
    text-align: center;
    display: block;
    align-items: center;
    overflow: auto;
}

#Recruitment {
    background: #EFEFEF no-repeat fixed; /*grey, previously #f2f4fa*/
    background-size: cover;
    color: black;
    text-align: center;
    align-items: center;
    overflow: auto;
}

#year-paragraph, #beacon-paragraph {
    max-width: 600px;
    display: inline-block;
}

.year-caption, .beacon-caption {
    margin-top: 35px;
    margin-bottom: 35px;
}

.imagerow{
    display:flex;
    align-items: center;
}

#beacon .row{
    padding: 2%;
    display: flex;
}

.sketch{
  width: 90%;
}

#beacon img{
  padding: 2%;
  margin: 0 auto;
}

.video{
    position:relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#recruitment-process-paragraph {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 300px;


}

.recruitment-caption {
    margin-top: 35px;
    margin-bottom: 35px;
}

.Position-openings-caption{
    margin-top: 35px;
    margin-bottom: 35px;

}

.row .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 30px 0; 
      
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, black);
  }

#Job-brief-paragraph{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    max-width: 450px;


}

#sponsors {
    background: #ffffff no-repeat fixed;
    background-size: cover;
    color: black;
    text-align: center;
    display: block;
    align-items: center;
    overflow: auto;
}

#team {
	background: #222 url('../assets/ubc.jpg') no-repeat fixed;;
	background-size: cover;
	color: #0C2345; /*navy, previously #11284b */
	text-align: center;
	align-items: center;
	display: block;
	overflow: auto;
}

.caption{
	max-width: 500px;
	text-align: center;
	align-items: center;
	display: inline-block;
	color: #0C2345 !important; /*navy, previously #11284b */
    margin-top: 45px;
}

.socialmediaicons {
	text-align: center;
	align-items: center;
}

#team-container {
	width: 100%;
	height: 100%;
}

#contact {
	background: #91ADCD no-repeat fixed; /*blue 50%, previously 8491A4*/
	background-size: cover;
	color: #0C2345; /*navy, previously #11284b */
	display: block;
	overflow: auto;
}

.nav-item{
    font-size: 20px;
    font-weight: 260;
    letter-spacing: 0.10em;
    color: #91ADCD; /*blue 50%, previously 8491A4*/

}

.nav-link{

    color: #91ADCD; /*blue 50%, previously 8491A4*/

}

.nav-link-new{

    color: white; 

}

.nav-link-apply{

    color: #EBDC89; /*yellow/gold 50%, previously #8972a6*/

}

.nav-item-bordered{
    max-width: 200px;
    font-size: 20px;
    font-weight: 260;
    letter-spacing: 0.1em;
    list-style-position:inside;
    border: 2px solid #EBDC89; /*yellow/gold 50%, previously #8972a6*/
    border-radius: 5px;
    word-spacing: 1px;
    margin-left: 25px;

}

.nav-item-bordered-header{
    max-width: 200px;
    font-size: 20px;
    font-weight: 260;
    letter-spacing: 0.1em;
    list-style-position:inside;
    border: 2px solid #EBDC89; /*yellow/gold 50%, previously #8972a6*/
    border-radius: 5px;
    word-spacing: 1px;
    margin-left: 25px;
	margin-top: -3px;
    background-color: #EBDC89; /*yellow/gold 50%, previously #8972a6*/

}

.nav-self-made{
    color: #91ADCD; /*blue 50%, previously 8491A4*/
    word-spacing: 200px;
    

}

.contact-container {
	max-width: 600px !important;
    padding: 30px;
    border-radius: 1%;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    

}

.bordered {
    width: 180px;
    height: 55px;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 2px;
  }

#more {display: none;}

.fake-link {
    color: gray;
    cursor: pointer;
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.btn-primary:hover,
.btn-primary:focus {
    background-color: #839A8B; /*green, previously #108d6f*/
    border-color: #839A8B; /*green, previously #108d6f*/
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #839A8B; /*green, previously #007b5e*/
    border-color: #839A8B; /*green, previously #007b5e*/
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #839A8B; /*green, previously #007b5e*/
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff /*white, previously #f8f9fa */
}

.card a {
    font-size: 18px;
    color: #0C2345 !important; /*navy, previously #11284b */
}

.txt-color{

    color: #EFEFEF !important; /*grey, previously #dde5eb*/
}

.card .card-title,{
    color: #0C2345 !important; /*navy, previously #11284b */
}

.card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#team .row{
	display:flex !important;
}

#team .col-xs-12, #team .col-sm-6, #team .col-md-4{
	padding:2%;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998; /*mid-blue*/
    color: white;
}

/* Twitter */
.fa-linkedin {
    background: #55ACEE; /*bright blue*/
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE; /*bright blue*/
    color: white;
}

.footer-content {
    text-align: center;
    align-content: center;
    font-size: 90%;
    padding-top: 20px;
}

.footer-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.footer-list li {
    display: inline-block;
    padding: 5px;
}

@media (min-width: 444px) { 
   #cover-icon {
        margin-top: 9%;
        width: 90%;
    }

    #cover-caption{
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .cover-container {
        padding: 0 5%;
    }
	
	#container3 {
		height: 250px;
	}
}

@media (min-width: 576px) { 
   #cover-icon {
        width: 88%;
    }
	
	.container3 {
		height: 250px;
	}
}

@media (min-width: 692px) { 
   #cover-icon {
        width: 70%;
    }
	
	.container3 {
		height: 300px;
	}
}

@media (min-width: 992px) {
    #cover-icon {
        margin-top: 9%;
        width: 50%;
    }

    #cover-caption{
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .cover-container {
        padding: 0 5%;
    }
	
	.container3 {
		height: 350px;
	}
}

@media (min-width: 1200px) {
    #cover-icon {
        margin-top: 9%;
        width: 40%;
    }

    #cover-caption{
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .cover-container {
        padding: 0 5%;
    }
	
	.container3 {
		height: 400px;
	}
}