html {
    scroll-behavior: smooth;
  }
  
body{
	height:100%;
}

#underline {
	border: 2px solid #DCB405; /*yellow/gold*/
	padding: 0 0 0 0px;
	margin: 0 30% 5% 30%;
}

.imagerow{
    display:flex;
    align-items: center;
}

.nav-link{
    color: #0C2345; /*navy*/
}

.nav-link:hover {
	color: #DCB405; /*gold*/
}

.nav-item{
    font-size: 20px;
    font-weight: 260;
    letter-spacing: 0.10em;
    color: #DCB405; /*gold*/
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bordered {
    width: 180px;
    height: 55px;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 2px;
}

#headerLogo {
	height: 57px;
	width: 79px;
}

/*Navigation Bar*/

.navbar {
    text-align: center;
}

.helper-span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.nav-self-made{
    color: #DCB405; /*gold*/
    word-spacing: 200px;
}

/*Contact Buttons*/

.nav-link-new{
    color: white; 
}

.nav-link-new:hover {
	color: #0C2345; /*navy*/
}

.nav-item-bordered-header{
    max-width: 200px;
    font-size: 20px;
    font-weight: 260;
    letter-spacing: 0.1em;
    list-style-position:inside;
    border: 2px solid #DCB405; /*gold*/
    border-radius: 5px;
    word-spacing: 1px;
    margin-left: 25px;
	margin-top: -3px;
    background-color: #DCB405; /*gold*/
}

/*Cover*/

#cover {
	background: #222 url('../assets/VancouverAerialVariation.jpg') no-repeat fixed;
	background-size: cover;
	height: 100%;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
    overflow: hidden;
}

#cover-icon {
	margin-top: 15%;
	width: 100%;
}

#cover-caption{
	width: 100%;
}

.cover-container {
	padding: 0 5%;
	filter: drop-shadow(0px 0px 50px #000000);
}

/*About*/

#about {
	background: #FFFFFF no-repeat fixed; /*white*/
	background-size: cover;
	color: #0C2345; /*navy*/
	text-align: center;
	display: block;
	align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.about-caption {
	padding: 0 5%;
	color: #0C2345; /*navy*/
	width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
	text-align: center;
}

#about-paragraph {
    max-width: 500px;
    display: inline-block;
}

/*Current Year*/

#currentyear {
	background: #C4D4E4 no-repeat fixed; /*grey/blue*/
	background-size: cover;
	color: #0C2345; /*navy*/
	text-align: center;
	display: block;
	align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.currentyear-caption {
	padding: 0 5%;
	color: #0C2345; /*navy*/
	width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
	text-align: center;
}

#currentyear-paragraph {
    max-width: 500px;
    display: inline-block;
}

/*Recruitment*/

#recruitment {
    background: #EFEFEF no-repeat fixed; /*grey*/
    background-size: cover;
    color: #0C2345; /*navy*/
    text-align: center;
    align-items: center;
    overflow: auto;
}

.recruitment-caption {
    margin-top: 35px;
    margin-bottom: 35px;
}

.qr-container {
	max-width: 450px;
	display:flex;
    margin-left: auto;
	margin-right: auto;
}

#recruitment-process-paragraph {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 300px;
}

.apply-link-apply{
    color: #0C2345; /*navy*/
}

.apply-bordered{
    max-width: 200px;
    font-size: 20px;
    font-weight: 260;
    letter-spacing: 0.1em;
    list-style-position:inside;
    border: 2px solid #0C2345; /*navy*/
    border-radius: 5px;
    word-spacing: 1px;
    margin-left: 25px;
}

.Position-openings-caption{
    margin-top: 35px;
    margin-bottom: 35px;
}

.row .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 30px 0; 
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, black);
}

#Job-brief-paragraph{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
    max-width: 450px;
}

/*2018/2019*/

#y1819 {
	background: #C4D4E4 no-repeat fixed; /*grey/blue*/
	background-size: cover;
	color: #0C2345; /*navy*/
	text-align: center;
	display: block;
	align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.y1819-caption {
	padding: 0 5%;
	color: #0C2345; /*navy*/
	width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
	text-align: center;
}

#y1819-paragraph {
    max-width: 500px;
    display: inline-block;
}

.video{
    position:relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#y1819 .row{
    padding: 2%;
    display: flex;
}

#y1819 img{
	padding: 2%;
	margin: 0 auto;
}

/*2019/2020*/

#y1920 {
	background: #EFEFEF no-repeat fixed; /*grey*/
	background-size: cover;
	color: #0C2345; /*navy*/
	text-align: center;
	display: block;
	align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}

.y1920-caption {
	padding: 0 5%;
	color: #0C2345; /*navy*/
	width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
	text-align: center;
}

#y1920-paragraph {
    max-width: 500px;
    display: inline-block;
}

.image1920 {
	display:flex;
    align-items: center;
}

/*Sponsors*/

#sponsors {
    background: #FFFFFF no-repeat fixed;
    background-size: cover;
    color: black;
    text-align: center;
    display: block;
    align-items: center;
    overflow: auto;
}

.sponsor-caption {
	padding: 0 5%;
	color: #0C2345; /*navy*/
	width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
	text-align: center;
}

.sponsor-txt {
    max-width: 60px;
	text-align: center;
	align-items: center;
	display: inline-block;
	color: #0C2345 !important; /*navy*/
    margin-top: 45px;
}

/*Team*/

#team {
	background: #222 url('../assets/ubc.jpg') no-repeat fixed;
	background-size: cover;
	color: #0C2345; /*navy*/
	text-align: center;
	align-items: center;
	display: block;
	overflow: auto;
}

.team-caption{
	max-width: 500px;
	text-align: center;
	align-items: center;
	display: inline-block;
	color: #0C2345 !important; /*navy*/
    margin-top: 45px;
	filter: drop-shadow(0px 0px 50px #000000);
}

.socialmediaicons {
	text-align: center;
	align-items: center;
}

#team-container {
	width: 100%;
	height: 100%;
}

#team .card {
    border: none;
    background: #ffffff /*white*/
}

.card a {
    font-size: 18px;
    color: #0C2345 !important; /*navy*/
}

.txt-color {
    color: #EFEFEF !important; /*grey*/
}

.card .card-title {
    color: #0C2345 !important; /*navy*/
}

.card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#team .row{
	display:flex !important;
}

#team .col-xs-12, #team .col-sm-6, #team .col-md-4{
	padding:2%;
}

#team .card {
    border: none;
    background: #ffffff /*white*/
}

.card a {
    font-size: 18px;
    color: #0C2345 !important; /*navy*/
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #839A8B; /*green*/
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card .card-title,{
    color: #0C2345 !important; /*navy*/
}

.txt-color{
    color: #EFEFEF !important; /*grey*/
}

/*Social Media*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998; /*mid-blue*/
    color: white;
}

.fa-linkedin {
    background: #55ACEE; /*bright blue*/
    color: white;
}

.fa-instagram {
    background: #E1306C; /*pink*/
    color: white;
}

/*Contact*/

#contact {
	background: #C4D4E4 no-repeat fixed; /*blue/gray*/
	background-size: cover;
	color: #0C2345; /*navy*/
	display: block;
	overflow: auto;
}

.contact-container {
	max-width: 600px !important;
}

.submit {
	background-color: #0C2345; /*navy*/
	border: none;
	border-radius: 3px;
	font-size: 20px;
	color: #FFFFFF; /*white*/
}

.submit:hover {
	background-color: #DCB405; /*gold*/
	color: #0C2345; /*navy*/
}

/*Footer*/

.footer-content {
    text-align: center;
    align-content: center;
    font-size: 90%;
    padding-top: 20px;
}

.footer-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.footer-list li {
    display: inline-block;
    padding: 5px;
}

#more {display: none;}

.fake-link {
    color: #0C2345;
    cursor: pointer;
}

/*Land Acknowledgement*/

.landack {
    text-align: center;
    align-content: center;
	color: #0C2345;
	text-align: center;
	background-color: #EFEFEF;
}

/*Media?*/

@media (min-width: 444px) { 
   #cover-icon {
        margin-top: 9%;
        width: 90%;
    }

    #cover-caption{
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .cover-container {
        padding: 0 5%;
    }
	
	#container3 {
		height: 250px;
	}
}

@media (min-width: 576px) { 
   #cover-icon {
        width: 88%;
    }
	
	.container3 {
		height: 250px;
	}
}

@media (min-width: 692px) { 
   #cover-icon {
        width: 70%;
    }
	
	.container3 {
		height: 300px;
	}
}

@media (min-width: 992px) {
    #cover-icon {
        margin-top: 9%;
        width: 50%;
    }

    #cover-caption{
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .cover-container {
        padding: 0 5%;
    }
	
	.container3 {
		height: 350px;
	}
}

@media (min-width: 1200px) {
    #cover-icon {
        margin-top: 9%;
        width: 40%;
    }

    #cover-caption{
        width: 100%;
        padding: 0 10% 0 10%;
    }

    .cover-container {
        padding: 0 5%;
    }
	
	.container3 {
		height: 400px;
	}
}
}